@media screen and (max-width: 800px) {
    .local-info-container {
        display: none;
    }
    main {
        top: 40%;
    }
}

@media screen and (max-width: 540px) {
    main {
        width: 380px;
    }
    .info-container {
        gap: 14%;
    }
    .info-box:nth-child(1) {
        margin-left: 30px;
    }
}

@media screen and (max-width: 460px) {
    main {
        width: 320px;
        border-radius: 6px;
    }

    .erro {
        text-wrap: nowrap;
        left: -10px;
        right: 0px;
    }
    .effect {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    input {
        padding: 10px;
    }
    .button {
        padding: 9px 14px;
    }
    .button img {
        width: 24px;
        height: 24px;
    }
    input {
        font-size: 16px;
        padding: 13px;
    }

    .image {
        width: 84px;
        height: 84px;
    }

    .data span:nth-child(1) {
        font-size: 48px;
    }

    .data span:nth-child(2) {
        font-size: 22px;
    }

    .info-box {
        font-size: 18px;
    }
    .font:nth-child(3) {
        font-size: 16px;
    }
}

@media screen and (max-height: 800px) {
    main {
        top: 50%;
    }
}

@media screen and (max-height: 600px) {
    .image {
        width: 72px;
        height: 72px;
    }
    input {
        padding: 8px;
        font-size: 18px;
    }
    .button {
        padding: 6px 10px;
    }
    .button img {
        width: 22px;
        height: 22px;
    }
    .data span:nth-child(1) {
        font-size: 48px;
    }
    .info-container {
        display: none;
    }
    .hidden-container {
        gap: 20px;
    }
    main {
        padding: 30px 0px 30px 0px;
    }
    .local-info-container {
        display: none;
    }
}